* {
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0;

}

.top-nav{
    display: flex;
    height: 80px;
    border-bottom: 1px solid #EBE8F4;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.top-nav a{
  text-decoration: none;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px; 
   
}
.navigation a{
    text-decoration: none;
    font-size: 16px;
    color: #726E8D; 
    font-family: "Open Sans",sans-serif; 
}
.logo{
  font-family: Montserrat;
  color: #22202E;
  font-size: 24px;
 
}

.user {
  min-width: 100px;
  display: flex;
  gap: 16px;
}

.item {
    display: inline-block;
    color: #2A254B;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
}
.search{
    background-image: url(/images/search.svg);
}  

.shopping{
    background-image: url(/images/shopping--cart.svg);    

}
.avatar{
    background-image: url(/images/user--avatar.svg);
  
}  
.main-title{
  color:#2A254B;
  font-family: Montserrat;
  font-size: 36px;
  margin: 80px 0 24px 0;
  display: flex;
  justify-content: center;
}

.filter {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  color: #2A254B; 
  gap: 24px;
  padding: 5px 80px;
  

  }
.filter-left{
   display: flex;
   align-items: center;
   gap: 8px; 
 
   
   
}
.filter-left a{
    text-decoration: none;
      font-family: "Open Sans",sans-serif; 
   
 
}
.filter-right{
    display: flex;
    width: 245px;
    align-items: center;
    /* margin: 12px 24px; */
    
}
.filter-right a{
    text-decoration: none;
    /* font-size: 16px;  */
    font-family: "Open Sans",sans-serif; 
    /* padding: 12px 24px;  */
}
.sorting{
    font-size: 14px; 
    font-family: "Open Sans",sans-serif;
}
.drop-list{
    border: 0;
    font-size: 16px;
    margin: 12px 24px;
}


.box-list{
    display: grid;
    grid-template-columns: repeat(4,  305px );
    grid-template-rows: repeat(4, 462px);
    column-gap: 20px;
    row-gap: 48px;
    margin-left: 80px;

}

.box a{
    text-decoration: none;

}

.title{
    font-family: Montserrat;
    font-size: 20px; 
    color: #2A254B; 
    padding-top: 24px;
}
.subtitle{
    font-family: Open Sans;
    font-size: 18px;  
    color: #2A254B;
    padding-top: 8px;
}

.btn-view-collection{
    width: 175px;
    height: 56px;
    font-family: Open Sans;
    font-size: 16px; 
    color: #2A254B;         
    padding: 16px 32px;
    background:  #F9F9F9;
    border: none;
    margin: 48px 550px 40px 555px;
}


.sign-up-container{
    display: grid;
    grid-template-columns: auto 1fr;
     
     background-image:url(/images/join-background.jpg);
     background-repeat: no-repeat;        

}

.title-join{    
    font-family: Montserrat;
    font-size: 32px; 
    color: #2A254B;
        padding: 71px 130px 21px 49px;
}
.description{
    font-family: Open Sans;
    font-size: 16px; 
    color: #2A254B;
    /* width: 470px; */
    line-height: 24px;
    padding: 0px 201px 0px 49px;
}
.btn-sign-up{
    width: 120px;
    height: 56px;
    font-family: Open Sans;
    font-size: 16px; 
    color: #FFF;
    background:#2A254B;
    border: none;
    padding: 16px 32px;
    margin: 216px 176px 70px 72px;

}
.footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 312px 1px 68px;
    background-color: #2A254B;
        
  }
.map{
    grid-column: 4/7;
    grid-row: 1/2;
    align-self: center;
 
}
.menu{
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;  
    
   
}
.lists{
color: #FFF;
font-family: Open Sans;
font-size: 14px; 
justify-self:center;
padding-top: 58px;
/* padding-left: 82px; */
}
.name-lists{
color:#FFF;
font-family: Montserrat;
font-size: 16px; 
}
.line{
    border-bottom: 1px solid #4E4D93;
    grid-column: 1/7;
    grid-row: 2/3;
    margin:0px 80px;
}
.copyright{
align-self:center;
grid-column: 1/3;
color: #FFF;
font-family: Open Sans;
font-size: 14px; 
padding-left: 80px;
}
.social-networks{
    display: flex;
    gap: 24px;
    align-items: center;
    grid-column: 5/7;
    margin-left: 140px;
}
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    
    }
.linkedin{
    background-image: url(/images/logo--linkedin.svg);
}  

.facebook{
    background-image: url(/images/logo--facebook.svg);    

}
.instagram{
    background-image: url(/images/logo--instagram.svg);
  
}  
.skype{
    background-image: url(/images/logo--skype.svg);
}
.twitter{
    background-image: url(/images/logo--twitter.svg);
}
.pinterest{
    background-image: url(/images/logo--pinterest.svg);
}